*{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    align-items: center;
    padding: 10px;
}
header > h1{
    margin-right: 20px;

}
header > a{
    text-decoration: none;
    margin-right: 15px;
    color: black;
}
.container {
    width: 100vw;
}